body {
  background: url("../view/images/784181.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-display {
  display: none;
}

.center {
  margin: auto;
  /* padding: 10px 50px; */
  text-align: center;
  font-size: 14px;
}

.title {
  font-size: 3rem;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  color: #fff;
  padding-top: 86px;
  font-weight: 700;
}

.content {
  /* margin-top: 10em; */
  padding-top: 1rem;
}

.analyze {
  margin-top: 1rem;
}

.upload-label {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
}

.result-label {
  margin-top: 0.5em;
  padding: 10px;
  font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: solid 2px #fff;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  border-radius: 8px;
}

button.choose-file-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

button.analyze-button {
  width: 200px;
  height: 40px;
  border: solid 2px #fff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

button.analyze-button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

button:focus {
  outline: 0;
}

.typewrite {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

#image-picked {
  border: 2px solid #fff;
}

header {
  position: fixed;
  width: 100%;
}

.active {
  background-color: #000;
  animation: fade 0.25s;
}

@keyframes fade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #000;
  }
}
