body {
  background: url("../static/784181.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-display {
  display: none;
}

.center {
  margin: auto;
  /* padding: 10px 50px; */
  text-align: center;
  font-size: 14px;
}

.title {
  font-size: 3rem;
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  color: #fff;
  padding-top: 86px;
  font-weight: 700;
}

.content {
  /* margin-top: 10em; */
  padding-top: 1rem;
}

.analyze {
  margin-top: 1rem;
}

.upload-label,
.result-label {
  padding: 10px;
  font-size: 1.5rem;
  color: #fff;
}

button.choose-file-button,
button.choose-qr-button,
button.analyze-button {
  width: 15rem;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 2px #fff;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
}


button.choose-file-button:hover,
button.choose-qr-button:hover,
button.analyze-button:hover {
  background-color: #000;
  color: #fff;
}

button:focus {
  outline: 0;
}

.typewrite {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

#image-picked {
  border: 2px solid #fff;
}

header {
  position: fixed;
  width: 100%;
}

.active {
  background-color: #000000;
  animation: fade 0.25s;
}

@keyframes fade {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #000000;
  }
}
